{% if env == 'production' %}

upstream {{pool_name}} {
    least_conn;
    server unix:/var/run/php5-fpm-{{short_name}}.sock;
    keepalive 5;
}

server {
        listen 80;
        server_name www.{{ site_name }} {{ site_name }};
        return 301 https://$host$request_uri;
}

server {
        listen 443 ssl;

        server_name www.{{ site_name }} {{ site_name }};

        ssl_certificate /etc/letsencrypt/live/{{site_name}}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{site_name}}/privkey.pem;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';


{% else %}

server {
        listen 80;

        server_name {{ site_name }};

{% endif %}

        limit_conn arbeit 32;
      
        access_log /var/log/nginx/{{site_name}}_access.log;
        error_log /var/log/nginx/{{site_name}}_error.log;

        if ($bad_bot) {
          return 444;
        }

        if ($bad_referer) {
          return 444;
        }

        if ($not_allowed_method) {
            return 405;
        }

        root {{ current_path }};
        index index.php;

        fastcgi_keep_conn on; 
 
        include apps/drupal/drupal_autocomplete.conf;

        location / {
        
            location ^~ /system/files/ {
                include apps/drupal/fastcgi_drupal.conf;
                fastcgi_pass {{pool_name}};
        
                log_not_found off;
            }
        
            ## Trying to access private files directly returns a 404.
            location ^~ /sites/default/files/private/ {
                internal;
            }
        
            ## Support for the file_force module
            ## http://drupal.org/project/file_force.
            location ^~ /system/files_force/ {
                include apps/drupal/fastcgi_drupal.conf;
                fastcgi_pass {{pool_name}};
        
                log_not_found off;
            }
        
            ## If accessing an image generated by Drupal 6 imagecache, serve it
            ## directly if available, if not relay the request to Drupal to (re)generate
            ## the image.
            location ~* /imagecache/ {
                ## Image hotlinking protection. If you want hotlinking
                ## protection for your images uncomment the following line.
                #include apps/drupal/hotlinking_protection.conf;
        
                access_log off;
                expires 30d;
                try_files $uri @drupal;
            }
        
            ## Drupal 7 generated image handling, i.e., imagecache in core. See:
            ## http://drupal.org/node/371374.
            location ~* /files/styles/ {
                ## Image hotlinking protection. If you want hotlinking
                ## protection for your images uncomment the following line.
                #include apps/drupal/hotlinking_protection.conf;
        
                access_log off;
                expires 30d;
                try_files $uri @drupal;
            }
        
            ## Advanced Aggregation module CSS
            ## support. http://drupal.org/project/advagg.
            location ^~ /sites/default/files/advagg_css/ {
                expires max;
                add_header ETag '';
                #add_header Last-Modified 'Wed, 20 Jan 1988 04:20:42 GMT';
                add_header Accept-Ranges '';
        
                location ~* /sites/default/files/advagg_css/css__[[:alnum:]-_]+\.css$ {
                    access_log off;
                    try_files $uri @drupal;
                }
            }
        
            ## Advanced Aggregation module JS
            ## support. http://drupal.org/project/advagg.
            location ^~ /sites/default/files/advagg_js/ {
                expires max;
                add_header ETag '';
                #add_header Last-Modified 'Wed, 20 Jan 1988 04:20:42 GMT';
                add_header Accept-Ranges '';
        
                location ~* /sites/default/files/advagg_js/js__[[:alnum:]-_]+\.js$ {
                    access_log off;
                    try_files $uri @drupal;
                }
            }
        
            ## All static files will be served directly.
            location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|html|xml|otf|ttf|eot|woff|svg)$ {
        
                access_log off;
                expires 30d;
                ## No need to bleed constant updates. Send the all shebang in one
                ## fell swoop.
                tcp_nodelay off;
                ## Set the OS file cache.
                open_file_cache max=3000 inactive=120s;
                open_file_cache_valid 45s;
                open_file_cache_min_uses 2;
                open_file_cache_errors off;
            }
        
            ## PDFs and powerpoint files handling.
            location ~* ^.+\.(?:pdf|pptx?)$ {
                expires 30d;
                ## No need to bleed constant updates. Send the all shebang in one
                ## fell swoop.
                tcp_nodelay off;
            }
        
            ## MP3 and Ogg/Vorbis files are served using AIO when supported. Your OS must support it.
            location ^~ /sites/default/files/audio/mp3 {
                location ~* ^/sites/default/files/audio/mp3/.*\.mp3$ {
                    directio 4k; # for XFS
                    ## If you're using ext3 or similar uncomment the line below and comment the above.
                    #directio 512; # for ext3 or similar (block alignments)
                    tcp_nopush off;
                    #aio on;
                    output_buffers 1 2M;
                }
            }
        
            location ^~ /sites/default/files/audio/ogg {
                location ~* ^/sites/default/files/audio/ogg/.*\.ogg$ {
                    directio 4k; # for XFS
                    ## If you're using ext3 or similar uncomment the line below and comment the above.
                    #directio 512; # for ext3 or similar (block alignments)
                    tcp_nopush off;
                    #aio on;
                    output_buffers 1 2M;
                }
            }
        
            ## Pseudo streaming of FLV files:
            ## http://wiki.nginx.org/HttpFlvStreamModule.
            ## If pseudo streaming isn't working, try to comment
            ## out in nginx.conf line with:
            ## add_header X-Frame-Options SAMEORIGIN;
            location ^~ /sites/default/files/video/flv {
                location ~* ^/sites/default/files/video/flv/.*\.flv$ {
                    flv;
                }
            }
        
            ## Pseudo streaming of H264/AAC files. This requires an Nginx
            ## version greater or equal to 1.0.7 for the stable branch and
            ## greater or equal to 1.1.3 for the development branch.
            ## Cf. http://nginx.org/en/docs/http/ngx_http_mp4_module.html.
            location ^~ /sites/default/files/video/mp4 { # videos
                location ~* ^/sites/default/files/video/mp4/.*\.(?:mp4|mov)$ {
                    mp4;
                    mp4_buffer_size 1M;
                    mp4_max_buffer_size 5M;
                }
            }
        
            location ^~ /sites/default/files/audio/m4a { # audios
                location ~* ^/sites/default/files/audio/m4a/.*\.m4a$ {
                    mp4;
                    mp4_buffer_size 1M;
                    mp4_max_buffer_size 5M;
                }
            }
        
            ## Advanced Help module makes each module provided README available.
            location ^~ /help/ {
                location ~* ^/help/[^/]*/README\.txt$ {
                    ## Include the specific FastCGI configuration. This is for a
                    ## FCGI backend like php-cgi or php-fpm.
                    include apps/drupal/fastcgi_drupal.conf;

                    fastcgi_pass {{pool_name}};
        
                    ## If proxying to apache comment the two lines above and
                    ## uncomment the two lines below.
                    #proxy_pass http://phpapache/index.php?q=$uri;
                    #proxy_set_header Connection '';
                }
            }
        
            ## Replicate the Apache <FilesMatch> directive of Drupal standard
            ## .htaccess. Disable access to any code files. Return a 404 to curtail
            ## information disclosure. Hide also the text files.
            location ~* ^(?:.+\.(?:htaccess|make|txt|engine|inc|info|install|module|profile|po|pot|sh|.*sql|test|theme|tpl(?:\.php)?|xtmpl)|code-style\.pl|/Entries.*|/Repository|/Root|/Tag|/Template)$ {
                return 404;
            }
        
            ## First we try the URI and relay to the /index.php?q=$uri&$args if not found.
            try_files $uri @drupal;
        }
        
        ########### Security measures ##########
        
        ## Uncomment the line below if you want to enable basic auth for
        ## access to all /admin URIs. Note that this provides much better
        ## protection if use HTTPS. Since it can easily be eavesdropped if you
        ## use HTTP.
        #include apps/drupal/admin_basic_auth.conf;
        
        ## Restrict access to the strictly necessary PHP files. Reducing the
        ## scope for exploits. Handling of PHP code and the Drupal event loop.
        location @drupal {
            ## Include the FastCGI config.
            include apps/drupal/fastcgi_drupal.conf;
            fastcgi_pass {{pool_name}};
        
            ## FastCGI microcache.
            include apps/drupal/microcache_fcgi.conf;
            ## FCGI microcache for authenticated users also.
            #include apps/drupal/microcache_fcgi_auth.conf;
        
            ## If proxying to apache comment the two lines above and
            ## uncomment the two lines below.
            #proxy_pass http://phpapache/index.php?q=$uri;
            #proxy_set_header Connection '';
        
            ## Proxy microcache.
            #include apps/drupal/microcache_proxy.conf;
            ## Proxy microcache for authenticated users also.
            #include apps/drupal/microcache_proxy_auth.conf;
        
            ## Filefield Upload progress
            ## http://drupal.org/project/filefield_nginx_progress support
            ## through the NginxUploadProgress modules.
            track_uploads uploads 60s;
        }
        
        location @drupal-no-args {
            ## Include the specific FastCGI configuration. This is for a
            ## FCGI backend like php-cgi or php-fpm.
            include apps/drupal/fastcgi_no_args_drupal.conf;
            fastcgi_pass {{pool_name}};
        
            ## FastCGI microcache.
            include apps/drupal/microcache_fcgi.conf;
            ## FCGI microcache for authenticated users also.
            #include apps/drupal/microcache_fcgi_auth.conf;
        
            ## If proxying to apache comment the two lines above and
            ## uncomment the two lines below.
            #proxy_pass http://phpapache/index.php?q=$uri;
            #proxy_set_header Connection '';
        
            ## Proxy microcache.
            #include apps/drupal/microcache_proxy.conf;
            ## Proxy microcache for authenticated users also.
            #include apps/drupal/microcache_proxy_auth.conf;
        }
        
        ## Disallow access to .bzr, .git, .hg, .svn, .cvs directories: return
        ## 404 as not to disclose information.
        location ^~ /.bzr {
            return 404;
        }
        
        location ^~ /.git {
            return 404;
        }
        
        location ^~ /.hg {
            return 404;
        }
        
        location ^~ /.svn {
            return 404;
        }
        
        location ^~ /.cvs {
            return 404;
        }
        
        ## Disallow access to patches directory.
        location ^~ /patches {
            return 404;
        }
        
        ## Disallow access to drush backup directory.
        location ^~ /backup {
            return 404;
        }
        
        ## Disable access logs for robots.txt.
        location = /robots.txt {
            access_log off;
            ## Add support for the robotstxt module
            ## http://drupal.org/project/robotstxt.
            try_files $uri @drupal-no-args;
        }
        
        ## RSS feed support.
        location = /rss.xml {
            try_files $uri @drupal-no-args;
        }
        
        ## XML Sitemap support.
        location = /sitemap.xml {
            try_files $uri @drupal-no-args;
        }
        
        ## Support for favicon. Return an 1x1 transparent GIF if it doesn't
        ## exist.
        location = /favicon.ico {
            expires 30d;
            try_files /favicon.ico @empty;
        }
        
        ## Return an in memory 1x1 transparent GIF.
        location @empty {
            expires 30d;
            empty_gif;
        }
        
        ## Any other attempt to access PHP files returns a 404.
        location ~* ^.+\.php$ {
            return 404;
        }
 
        location '/.well-known/acme-challenge' {
                default_type "text/plain";
                root        /tmp/letsencrypt-auto;
        }

        ## XMLRPC. Comment out if not enabled.
        location = /xmlrpc.php {
            fastcgi_pass {{pool_name}};
        }
        
        ## Restrict cron access to a specific host.
        location = /cron.php {
            if ($not_allowed_cron) {
                return 404 /;
            }
            fastcgi_pass {{pool_name}};
        }
        
        ## Run the update from the web interface with Drupal 7.
        location = /authorize.php {
            fastcgi_split_path_info ^(.+?\.php)(|/.*)$;
            fastcgi_pass {{pool_name}};
        }
        
        location = /update.php {
            auth_basic "Restricted Access"; # auth realm
            auth_basic_user_file .htpasswd-users; # htpasswd file
            fastcgi_pass {{pool_name}};
        }
}
